:root{
    --bkg-color: #EDE9D5;
    --header-color:#4D455D;
    --container: #F5E9CF;
    --border: #E96479;
    --body: #7DB9B6;
}
*{
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}
body{
    background-color: var(--body);
    font-family: 'Jost', sans-serif;

}

/*header*/
header{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 45px;
    margin: auto;
    padding: 20px;
    background-color: var(--header-color);
    border-radius: 4px;
}
.title{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 32px;
    margin: 0;
    
}
a{
    color: white;
    margin-left: 15px;
    font-size: 23px;
    transition: color .2s;
} 
a:hover{
    color: var(--container);
}
main{
    width: 70%;
    background-color: var(--container);
    min-height: 600px;
    margin: 0 auto 10px;
    
}

/*Index*/
.indexDiv img{
    position: relative;
    border: 2px solid var(--body);
    width: 770px;
    left: 80px;
    margin-top: 20px;

}
.indexText{
    position:absolute;
    border-radius: 25%;
    float: right;
    left: 950px;
    bottom: 300px;
    width: 300px;
    height: 250px;
    text-align: center;
    background-color: var(--border);
    box-shadow: 10px 10px var(--header-color);
}
.indexText h3{
    margin-top: 40px;
}
.indexText p{
    margin-top: 15px;
}
   


/*registration*/
.inputContainer{
    width: 40%;
    margin: auto;
    padding: 25px;
    text-align: center;
}
.registration{
    margin: 10px;
    font-size: 42px;
    padding: 20px;
}
.input-3{
    display: flex;
    justify-content: space-between;
    margin: 9px auto;

}


/*Counter Div*/
.counterDiv{
    text-align: center;
    padding: 15px;
}
.counterClass h3{
    text-align: center;
    margin: 25px;
}
.btn{
    
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #7DB9B6 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: white;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
}
.submitBtn{
    margin: 25px;
}
.displayBtnCont{
    width: 50%;
    text-align: center;
    margin: auto;
}
.info{
    margin: auto;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.pet{
    width:25%;
    margin: 25px;
    list-style-position: inside;
    text-align: center;
}
th, td{
    border: 1px solid var(--header-color);
    
}
table{
    margin-bottom: 10px;

}
td, th{
    width: 150px;
    padding-left: 5px;
}
.trash{
    width: 25px;
    border-style: none;
}


/*services*/
.servicesCont{
    text-align: center;
    
}
.servicesTitle{
    padding: 15px;
    font-size: 48px;
}
.servicesCont2{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.innerCont{
    display: flex;
    align-items: center;
    width: 85%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    
}
.nailCont{
    flex-direction: row-reverse;
}
.innerTitle{
    width: 50%;

}
.innerTitle h3{
    font-size: 24px;
    transition: font-size, .3s;
}
.innerTitle h3:hover{
    font-size: 34px;
    text-decoration: underline;
}
.serviceImg{
    width: 50%;
    overflow: hidden;
    
}
.serviceImg img{
    object-fit:fill;
}



/*about*/
.about-main{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
#location{
    width: 45%;
    text-align: center;
    height: 100%;
    margin-top: 50px;
    border-right: 1px solid var(--header-color);
    position: relative;
}
.aboutP{
    width: 70%;
    margin: auto;
}
.google-map{
    margin: 25px;
    position: relative;
    
}
#hoursOfOperation{
    width: 45%;
    text-align: center;
    
}